/myLanguage/lex.yy.c
/myLanguage/myLang
/myLanguage/mylanguage.tab.c
/myLanguage/mylanguage.tab.h
/myLanguageFirstStage/lex.yy.c
/myLanguageFirstStage/myLang
/myLanguageFirstStage/mylanguage.tab.c
/myLanguageFirstStage/mylanguage.tab.h

